
<h3>Raport - głosy nieważne</h3>

<table class="table">
  <thead>
    <tr>
      <th>Województwo</th>
      <th>Głosy nieważne</th>
      <th>Puste karty</th>
      <th>Wiele skreśleń</th>
      <th>Inne</th>	
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
	
      <tr>

	<td><%= vote.voivodship.name %></td>
	<td><%= vote.glosy %></td>
	<td><%= vote.puste %></td>
	<td><%= vote.wiele %></td>
	<td><%= vote.inne %></td>
              </tr>

    <% end %>
  </tbody>
</table>

<h5><a href="/central">Menu - komisja centralna</a></h5>
