<h2><%= @committees_district.committee.name %>, okręg <%= @committees_district.district.name %></h2>

<%= render 'form' %>

<%= link_to 'Zobacz', @committees_district %> |
<%= link_to 'Powrót', committees_districts_path %>
