<h1>Wyniki komitetów w okręgu <%= current_user.district.name %> <%= current_user.district.voivodship.name %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Komitet</th>	
      <th>Liczba oddanych głosów</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committees_districts.each do |committees_district| %>
      <tr>
	<td><%= committees_district.committee.name %></td>
        <td><%= committees_district.votes %></td>
        <td><%= link_to 'Zaktualizuj', edit_committees_district_path(committees_district) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<a href="districts">Ogólne informacje o okręgu</a>
<br>


