<h1>Listing committees_districts</h1>

<table>
  <thead>
    <tr>
      <th>Okręg</th>
      
      <th>Komitet</th>	
      <th>Votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committees.each do |committee| %>
      <tr>
	<td><%= committee.district.name %></td>
	
	<td><%= committee.committee.name %></td>
        <td><%= committee.votes %></td>
        <td><%= link_to 'Show', committee %></td>
        <td><%= link_to 'Edit', edit_committee_path(committee) %></td>
        <td><%= link_to 'Destroy', committee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committees district', new_committee_path %>
