<%= form_for @district, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</h2>

      <ul>
      <% @district.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
	    <%= f.label :liczba_uprawnionych_do_głosowania %>
		<div class="col-sm-2">
    		<%= f.number_field :eligible_voters, :class => 'form-control' %>
		</div>	
	</div>
	
	<div class="form-group">
	    <%= f.label :ważne_głosy %><br>
		<div class="col-sm-2">    		
		<%= f.number_field :valid_votes, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
	    <%= f.label :suma_głosów_nieważnych %><br>
		<div class="col-sm-2">
		<%= f.number_field :invalid_votes, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
	    <%= f.label :puste %><br>
		<div class="col-sm-2">		
		<%= f.number_field :puste, :class => 'form-control' %>
		</div>
	</div>

	<div class="form-group">
    	    <%= f.label :wiele %><br>
		<div class="col-sm-2">
    		<%= f.number_field :wiele, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
    	    <%= f.label :inne %><br>
		<div class="col-sm-2">
    		<%= f.number_field :inne, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
    	    <%= f.label :wydane_karty %><br>
		<div class="col-sm-2">    		
		<%= f.number_field :vote_cards, :class => 'form-control' %>
		</div>
  	</div>
  <div class="actions">
    <%= f.submit "Zaktualizuj", :class => "btn btn-primary"%>
  </div>
<% end %>


