<!DOCTYPE HTML>
<h3>Aktualizacja danych dla okręgu <%= @district.name%> <%=@district.voivodship.name %></h3>

<%= render 'form' %>

<%= link_to 'Aktualne dane', @district %> |
<%= link_to 'Powrót', districts_path %>
