<h3>Logowanie do systemu</h3>
<p></p>
<%= form_for @user_session, :as => :user_session, :url => { :action => "create" }, :html => {:class => 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :login, :class => 'col-sm-1 control-label' %>
	<div class="col-sm-4">      
	<%= f.text_field :login, :class => 'form-control' %>
	     </div>
	</div>
	
    <div class="form-group">
      <%= f.label :hasło, :class => 'col-sm-1 control-label' %>
	<div class="col-sm-4">
      <%= f.password_field :password, :class => 'form-control' %>
	</div>
</div>
    <div class="form-group">
    
	<div class="col-sm-4">
<%= f.label :zapamiętaj_mnie, :class => 'col-sm-1 control-label' %>
    <%= f.check_box :remember_me, :class => 'form-control' %>
	
    </div>

</div>
    <p>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">

      <%= f.submit "Zaloguj mnie", :class => "btn btn-primary" %>
</div>
</div>
    </p>
<% end %>
